genlayer-py @ git+https://github.com/genlayerlabs/genlayer-py@52b932b4fd0531352933bfba79b644d2ba4f3961
genlayer-test @ git+https://github.com/genlayerlabs/genlayer-testing-suite@75a5bcde75582734caaf210b9ebadab358fd45cb
genvm-linter @ git+https://github.com/genlayerlabs/genvm-linter@28450e665666300fc648dbe495110dfd0cb6a7b4
requests==2.34.2
python-dotenv==1.2.2
eth-account==0.13.7
eth-utils==6.0.0
